.story {
  grid-column: center-start/center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 40rem));
  gap: 2rem 7rem;
  justify-content: center;
  margin: 2rem 0;
  background-color: var(--color-primary-light);

  &__picture {
    justify-self: center;

    width: 80%;
    height: 80%;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__content {
    align-self: center;
  }
  &__text {
  }
}
